header {
    text-align: Center;
    text-decoration-style: double;
    text-decoration: underline;
    font: satisfy;
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Bad Script', cursive;
    font-family: 'Neucha', cursive;
    font-size: 120px;   
    display:flex;   
    align-content: center;
    justify-content: center;
    color:blue; 
}
h1 {
    display: flex;
    justify-content:flex-start;
    align-content: stretch;
    align-items: space-between;
    font-size: 41px;
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Bad Script', cursive;
    font-family: 'Neucha', cursive;
    }
.btn {
   padding: 6px 12px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    font-size: 38px;
    font-weight: 500;
    line-height: 1.42857143;
    text-align: center;
    white-space: normal;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-group-vertical>.btn, .btn-group-vertical>.btn-group, .btn-group-vertical>.btn-group>.btn {
    display: flex;
    float: center;
    width: 100%;
    max-width: 100%;
}




div.btn-group-vertical {
    display:flex;
    justify-content: center;
    align-content: center;
    font-family: 'Pacifico', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Bad Script', cursive;
    font-family: 'Neucha', cursive;
    font-size: 100px;
    }

.container-fluid  {
display:flex;
justify-content:flex-start;
align-content: space-between;
align-items: center;

}

 