header {
    text-align: Center;
    text-decoration-style: double;
    text-decoration: underline;
    font: satisfy;
    font-family: 'Anton', sans-serif;
    font-family: 'Bangers', cursive;
    font-size: 100px;   
    display:flex;   
    align-content: center;
    justify-content: center;
    color: blueviolet;
};

.container {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
    font-family: 'Bangers', cursive;
    font-size: 40px;    
};